* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1px;
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background: aqua;
}

nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #000;
}

#home {
  margin-top: 80px;
  text-align: center;
  height: 400px;
  background-image: url("/images/underwater.jpeg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}

#home h2 {
  padding: 10px;
  color: #fff;
}

#home h1 {
  padding: 10px;
  color: #fff;
}

button {
  padding: 8px;
  margin: 13px;
  text-align: center;
  background: none;
}

button:hover {
  background-color: aqua;
}

button a {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
}

button a:hover {
  color: #000;
}

#about {
  width: 100%;
  height: 400px;
  background-color: rgba(199, 207, 207, 0.479);
}

#about h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

#about img {
  float: right;
  margin-right: 100px;
}

.text {
  margin-left: 100px;
  padding: 15px;
  line-height: 23px;
}

#projects {
  background-color: #000;
}

.head {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.sample {
  background-color: rgba(4, 253, 211, 0.863);
  flex-grow: 2;
  color: white;
  width: calc(50% - 100px);
  margin: 50px;
  padding: 40px;
}

.sample h1 {
  text-align: center;
  padding: 20px;
  color: black;
}

.sample p {
  padding: 5px;
  line-height: 23px;
}

.link {
  text-align: center;
  padding: 20px;
}

.link a {
  text-decoration: none;
  color: black;
}

.link a:hover {
  color: #fff;
}

#contact {
  text-align: center;
  padding: 40px;
  background-color: rgba(120, 126, 126, 0.479);
}

#contact a {
  text-decoration: none;
}

#contact img {
  padding-bottom: 10px;
  padding-left: 5px;
}

#contact p {
  padding-bottom: 20px;
}
